*{margin:0; padding:0;}
a{text-decoration:none;}
body{
    font-family: '맑은 고딕';
    font-size: 16px;
    line-height: 26px;
    min-width: 1320px;
}

/* 배경색상 */
.brand1{
    background-color: #3a3a3acd;
}
.brand2{
    background-color: #2d2d2dcd;
}

/* 이미지 크기 */
img{
    width:1320px;
    display: block;
    margin: auto;
}

/* 버튼 */
ul{list-style:none; 
position:fixed;
bottom:50px;
right:50px;
text-align:center;}
ul li{
    margin: 10px;
}
ul li a{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


/* 탑버튼 */
.top_button {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 99;
}

.brand2{
    background-color: #444444ac;
}

/* 버튼 */
ul{list-style:none; 
    position:fixed;
    bottom:50px;
    right:50px;
    text-align:center;}
    ul li{
        margin: 10px;
    }
    ul li a{
        display: inline-block;
        padding: 10px 20px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }
    .btn_1 li a{
        background: #4b5f56;
        color:#fff;
    }
    .btn_2 li a{
        background: #898989;
        color:#fff;
        transition: all 0.7s;
    }
    .btn_2 li a:hover{
        background: #414141;
    }